<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/people/{id}/edit(id=${person.getId()})}" th:object="${person}">
  <label for="fullName">Введите ФИО: </label>
  <input type="text" th:field="*{fullName}" id="fullName"/>
  <div style="color:red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Name Error</div>
  <br/>
  <label for="birthDate">Введите год рождения: </label>
  <input type="text" th:field="*{birthDate}" id="birthDate"/>
  <div style="color:red" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}">Age Error</div>
  <br/>
  <input type="submit" value="Внести изменения!"/>
</form>

</body>
</html>